<h1 class="text0">Lista De Comentarios</h1>

<div class="container">
  <div class="cuadro">
    <mat-list class="center" *ngFor="let items of posts">
        <span class="texto">{{items.id}}</span>
        <mat-list-item class="texto">{{items.message}}</mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
  </div>

<div class="container2">
  <mat-card>
      <mat-card-header>
          <mat-card-title class="text0">Direccion IP</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form [formGroup]="form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label class="text">Ingrese IP Para Desencriptar Los Mensajes Deseados</mat-label>
              <input matInput formControlName="user_ip" placeholder="Direccion IP">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label class="text">Ingrese Mensaje</mat-label>
              <input matInput formControlName="message" placeholder="Mensaje">
            </mat-form-field>
                <br>
                <a class="btn-neon pointer" (click)="send()">
                  <span id="span1"></span>
                  <span id="span2"></span>
                  <span id="span3"></span>
                  <span id="span4"></span>
                  Agregar
                </a>
            </form>    
          </mat-card-content>
  </mat-card>
</div>
</div>


